@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.heading{
    color: #58595B;
    font-family: PT Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 53.76px; /* 179.2% */
}

.subheading{
    color: #58595B;
font-family: PT Sans;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 53.76px; /* 107.52% */
}

.filterOptions{
    width: 125px;
height: 46px;
flex-shrink: 0;
    border-radius: 5px;
border: 1px solid #857550;
}

.Dheading{
    color: #002D4F;
    font-family: PT Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 53.76px; /* 134.4% */
}

.DPara{
    color: #000;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 36.8px; /* 147.2% */
}

* {
    box-sizing: border-box;
  }
  
  /* .wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
  } */
  
  /* .wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  } */
  
  .wrapper3 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 85%;
    row-gap: 50px;

    
    
    margin-left: 50px;
  }

    .wrapper4 {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 25px;
        /* scale: 0.9; */
        width: 85%;
        
        margin-left: 50px;
    }

    .wrapper5 {
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        gap: 15px;
        /* scale: 0.9; */
        width: 85%;
        
        margin-left: 50px;
    }

    .wrapper6 {
        display: grid;
        grid-template-columns: repeat(6, 3fr);
        gap: 15px;
        /* scale: 0.9; */
        width: 85%;
        
        margin-left: 50px;
    }

    input[type="range"] {
        -webkit-appearance: none;
        height: 3px;
        
        background-color: #80702D;
      }



